<html>
  <head>
    <title>Salty Pug console</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo="/>
  </head>
  <body>
    <h1>Salty Pug console</h1>

    <h2>Make item</h2>

    <form action="/make-item" method="post">
      <p>Kind</p>
      <p><input name="kind" value="cutlass"/></p>
      <p>Size</p>
      <p><input name="size" value="large"></p>
      <p>Color</p>
      <p><input name="color" value="blue"/></p>
      <p><button type="submit">Submit</button></p>
    </form>
  </body>
</html>
