<html>
  <head>
    <title>Salty Pug</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/static/main.css"/>
  </head>
  <body>
    <header>
      <div>
        <a id="logotype" href="">Salty Pug</a>
        <nav id="top-left-nav">
          <a id="account" href="/index.html">Overview</a>
          <a id="account" href="/index.html">Inventory</a>
          <a id="account" href="/index.html">Orders</a>
        </nav>
        <nav id="top-right-nav">
          <a id="account" href="">Hi, Noah</a>
        </nav>
      </div>
    </header>
    <section>
      <div>
        <div class="XXX">
          <h1>Order item</h1>
        </div>

        <form action="/make-item" method="post">
          <p>Kind</p>
          <p><input name="kind" value="cutlass"/></p>
          <p>Size</p>
          <p><input name="size" value="large"></p>
          <p>Color</p>
          <p><input name="color" value="blue"/></p>
          <p><button type="submit">Submit</button></p>
        </form>
      </div>
    </section>
    <footer>
      <div>
      </div>
    </footer>
  </body>
</html>
